* {
    font-family: 'Jost', sans-serif;
}

.card-container {
    display: flex;
    flex-direction: column;

    width: 70%;
}

header {
    display: flex;
    gap: 1rem;

    color: #9B9B98;
}

h4 {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: 0.15px;
}

button {
    all: initial;
}

button:hover {
    cursor: pointer;
}

.separated {
    padding-right: 1rem;
    border-right: 1px solid #9B9B98;
}

.dark-letter {
    font-weight: bold;
}

section {
    display: flex;
    justify-content: space-between;

    padding: 1rem;
    border: 1px solid #F4F4F2;
    box-shadow: 5px 5px 10px rgb(236, 236, 234);
}

section div {
    display: flex;
    width: 25rem;
    align-items: center;
    gap: .5rem;
}

div section button {
    display: flex;
    gap: 1rem;
    align-items: center;
}

article div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article div h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.8rem;
    letter-spacing: 0.4px;
}

.itens-card {
    display: flex;
    align-items: center;
    gap: 2rem;
}

article h3 {
    font-weight: normal;
    font-style: italic;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.65px;

    padding-top: .8rem;
}

.retangle {
    background-color: #ECECEA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

    padding: 2rem;
}

.alignament {
    display: flex;
    align-items: flex-end;

    gap: 1rem;
}

.alignament h2 {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: 0.3px;
    color: #474745;
}

.retangle h3 {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.25px;

    color: #727270;
}

.alignament-sell {
    display: flex;
    align-items: center;

    gap: 1rem;
}

.number-space {
    width: 10rem;
    padding: .6rem;

    justify-content: space-between;

    background-color: #F4F4F2;

    border: 1px solid #CECECE;
}

.number-space h3 {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.25px;

    color: #04050C;
}

.btn-borders-shadows {
    padding: .5rem;

    border: 1px solid #CECECE;
    box-shadow: 0px 2px 4px rgb(206, 206, 206);
}