.container-card {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.main-card {
    padding-bottom: 3rem;
    width: 60%;
    height: auto;
    border-bottom: 1px solid lightgrey;
}

.alignment {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.sec-card {
    width: 12%;
}

.smaller {
    width: 5%;
}